@import "../../_globalColor";

#topButton {
  visibility: hidden;
  position: fixed;
  bottom: 86px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: $buttonColor;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 15px;
  font-size: 25px;
}

#topButton:hover {
  background-color: $topButtonHover;
  transition: all ease-in-out 0.2s;
}

@media (max-width: 768px) {
  #topButton {
    right: 16px;
    bottom: 74px;
  }
}
